In [4]:
for i in range(1, 5):
    for j in range(1, 5):
        print(i, " ", j)
        
    print()
    
    for k in range(1, 5):
        print(i, " ", k)
        
    print()

1   1
1   2
1   3
1   4

1   1
1   2
1   3
1   4

2   1
2   2
2   3
2   4

2   1
2   2
2   3
2   4

3   1
3   2
3   3
3   4

3   1
3   2
3   3
3   4

4   1
4   2
4   3
4   4

4   1
4   2
4   3
4   4

In [6]:
for i in range(1, 5):
    for j in range(1, 5):
        for k in range(1, 5):
            print(i, " ", j, " ", k)
            
    print()

1   1   1
1   1   2
1   1   3
1   1   4
1   2   1
1   2   2
1   2   3
1   2   4
1   3   1
1   3   2
1   3   3
1   3   4
1   4   1
1   4   2
1   4   3
1   4   4

2   1   1
2   1   2
2   1   3
2   1   4
2   2   1
2   2   2
2   2   3
2   2   4
2   3   1
2   3   2
2   3   3
2   3   4
2   4   1
2   4   2
2   4   3
2   4   4

3   1   1
3   1   2
3   1   3
3   1   4
3   2   1
3   2   2
3   2   3
3   2   4
3   3   1
3   3   2
3   3   3
3   3   4
3   4   1
3   4   2
3   4   3
3   4   4

4   1   1
4   1   2
4   1   3
4   1   4
4   2   1
4   2   2
4   2   3
4   2   4
4   3   1
4   3   2
4   3   3
4   3   4
4   4   1
4   4   2
4   4   3
4   4   4

In [15]:
n = int(input("Enter a number: "))

for j in range(1, n+1):
    for num in range(1, j + 1):
        print(num, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
def score_list_nested(name, score):
    score_list.append([name, score])
    
    print(name, score, end=' ')
    print()
    
    return score_list

def sort_scores(score_list):
    sorted_scores = []
    for i in range(len(score_list)):
        for j in range(i + 1, len(score_list)):
            if score_list[i][1] < score_list[j][1]:
                score_list[i], score_list[j] = score_list[j], score_list[i]
    return score_list

def alphabetical_sort_list(score_list):
    sorted_scores = []
    for i in range(len(score_list)):
        for j in range(i + 1, len(score_list)):
            if score_list[i][0] > score_list[j][0]:
                score_list[i], score_list[j] = score_list[j], score_list[i]
    return score_list

def second_last_score(score_list):
    

n = int(input("Enter number of students: "))

score_list = []

for i in range(n):
    name = input("Enter name: ")
    score = int(input("Enter score: "))
    score_list_nested(name, score)    
    
print("---------------------------------------")
    
print("Sorted list: ", sort_scores(score_list))

print("---------------------------------------")

print("Alphabetical sorted list: ", alphabetical_sort_list(score_list))

ADI  100
DEV 520
BOB 520
---------------------------------------
Sorted list:  [['DEV', 520], ['BOB', 520], ['ADI ', 100]]
---------------------------------------
Alphabetical sorted list:  [['ADI ', 100], ['BOB', 520], ['DEV', 520]]